{% assign content = site.data.content['about'] %}

<!-- About -->
<div class="section press">
  <div class="content">
    Jordan Meyer is a machine learning scientist and winner of the Zillow
Prize. His art applies cutting edge artificial intelligence techniques to create
large format (4k+) works of inimitable richness and depth. </p>

"I take a mentor's approach to building neural networks for generative art.

By slowly exposing the models to curated imagery and encouraging their
experimentation, their creative worldview is formed like a student's would
be.

While most AI-generative models are single-purpose, and by that I mean they are
trained on a static set of images and then used to generate similar ones, I
continue to train the same models on fundamentals, and allow their artistic
understandings to mature over time."</p>

email: visualobi at gmail </p>

<h2 style="color: #a2a2a6;">PRESS</h2>
<ul>
     <li>
       Marketplace - <a href="https://www.marketplace.org/2019/02/01/thanks-guy-zillows-zestimate-just-got-more-accurate" style="color: #f26b38">Interview with Marketplace's Kai Ryssdal</a>
     </li>
     <li>
       DataRobot - <a href="https://www.datarobot.com/blog/data-scientist-spotlight-jordan-meyer/" style="color: #f26b38">Data Scientist Spotlight: Jordan Meyer</a>
     </li>
     <li> Seattle Times - <a href="https://www.seattletimes.com/business/real-estate/how-accurate-are-zestimates-zillow-awards-1-million-to-trio-for-improving-them/" style="color: #f26b38">How accurate are Zestimates? Zillow awards $1M to trio for improving them</a>
     </li>
     <li>
       Geekwire - <a href="https://www.geekwire.com/2019/meet-zillow-prize-winners-get-1m-bragging-rights-zestimate-beating-algorithm/" style="color: #f26b38">Meet the 'Zillow Prize' winners who get $1M and bragging rights for beating the Zestimate</a>
     </li>
     <li>
  Nvidia - <a href = "https://news.developer.nvidia.com/nvidia-gpus-help-developers-score-1-million-prize-for-improving-zillows-zestimate/" style="color: #f26b38">NVIDIA GPUs Help Developers’ Score $1 Million Prize For Improving Zillow’s Zestimate</a>
     </li>
   </ul>
</div>
</div>
