---
layout: default
---

{% assign ui_text = site.data.ui-text['ui_text'] %}

<!-- Started -->
<div class="section banner">
    <div class="centrize full-width">
        <div class="vertical-center">
            <div class="banner-content">
                <div class="banner-title" data-text="{{ page.title }}">{{ page.title }}</div>
            </div>
        </div>
    </div>
</div>

{% assign sections = page.sections | split: "," %}

{% for section in sections %}
    {% include section-{{ section }}.html %}
{% endfor %}
